<div id="container" class="name">
  <script>
    piles_flat_array = new Array(<%= @image.piles_as_string%>);
  </script>

  <canvas id="canvas" width="<%= @image.width * 100 %>" height="<%= @image.height * 100 %>"></canvas>
</div><!-- /container.name -->
<div id="my_story">
  <%= render my_tile ? 'existing' : 'new' %>
</div><!-- /my_story -->

<div id="controls">
  <a href="#" id="zoom_in">+</a>
  <a href="#" id="zoom_out">-</a>
</div><!-- /controls -->

<div id="story-explorer">
  <div>
    <p>
      <%= image_tag 'my_veteran.jpg' %>
      This tile is dedicated to my Brother Ben who is active-duty in the Air Force as an intel officer. He's being deployed to Afghanistan in October and I will be thinking about him and his family every day. He's amazingly smart and a dedicated husband and father. He might be my little brother but he's one of my heroes and role models. He is a true image of patriotism
    </p>
    <p>
      – Pete Fecteau
    </p>
    <p style="text-align: center;">
      <%= image_tag 'facebook-fake.png' %>
    </p>
  </div>
</div><!-- /story-explorer -->