<p id="notice"><%= notice %></p>

<p>
  <b>Text:</b>
  <%= @story.text %>
</p>

<p>
  <b>User:</b>
  <%= @story.user_id %>
</p>


<%= link_to 'Edit', edit_story_path(@story) %> |
<%= link_to 'Back', stories_path %>
