<!DOCTYPE html>
<html>
<head>
  <title>PieceOfMind</title>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'jquery.min', 'jquery_ujs', 'jquery.clicknscroll.v1.0.min' %>
  <%= javascript_include_tag 'image', 'application' %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
